{% extends 'includes/layout.html' %}


{% block body %}
<main class="container">
  <div class="bg-dark p-5 rounded mt-5">
    <h1> Blog Post Title Ideas </h1>
    <p class="lead">
    Us Ai to generate blog post title ideas for your SEO content. Choose the quantity, enter a brand and relevant industry to begin! 
    </p>

    <form class="" action="/blog-titles" method="post">

        <div class="mb-3">
            <label for="numberInput" class="form-label">Number of Suggestions:</label>
            <input type="text" class="form-control" id="numberInput" name="number" placeholder="e.g 3" value="{{ number }}">
          </div>
          <div class="mb-3">
            <label for="industryInput" class="form-label">Industry:</label>
            <input type="text" class="form-control" id="industryInput" name="industry" placeholder="e.g 'Technology'" value="{{ industry }}">
          </div>
          <div class="mb-3">
            <label for="keywordInput" class="form-label">Keyword:</label>
            <input type="text" class="form-control" id="keywordInput" name="keyword" placeholder="e.g 'iPhone 14 Pro '" value="{{ keyword }}">
          </div>
  
        <button type="submit" class="btn btn-danger btn-lg"> Generate Blog Ideas!</button>
  
      </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="text-primary text-white">{{prompt}}</h5>
        <br>
        <div style='border-style:solid; border-width:1px; border-color: #D3D3D3; padding: 15px' class="lead" id="copyBox" contenteditable>
          <ul style="list-style-type: none;">
            {% for title in openAIAnswer %}
              <li>{{ title }}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <p style='font-size:18px; color:white'>Note: You can click the generated meta titles to edit them.</p>
          <button type="button" class="btn btn-sm btn-danger" onclick="copyToClipboard(document.getElementById('copyBox').innerText)">Copy</button>
        </div>
        <div id="message"></div>
      </div>
    </div>
  </div>

   <!-- New Row -->
   <div class="row mt-3">
    <div class="col-lg-6">
      <h6>You may also like:</h6><a href="meta-description" class="btn btn-sm btn-primary">Meta Description Generator 💬</a>
      <br>
    </div>
  </div>
</div>

  <script>
    function copyToClipboard(text) {
      // Get the text content of the element, if an element is passed in
      if (typeof(text) === 'object') {
        text = text.innerText;
      }
    
      // Create a temporary input element
      var tempInput = document.createElement("input");
      tempInput.type = "text";
      tempInput.value = text;
    
      // Append the input element to the document body
      document.body.appendChild(tempInput);
    
      // Select the text content and copy it to the clipboard
      tempInput.select();
      document.execCommand("copy");
    
      // Remove the temporary input element from the document body
      document.body.removeChild(tempInput);
    
      // Display the message
      var message = document.getElementById("message");
      message.innerHTML = "Text Copied!";
    }
    
    </script>  
   
</main>
{% endblock %}
