{% extends 'includes/layout.html' %}

{% block body %}

<div class="chat-container">
  <div class="chat-header">
    <h5>Neural Edge Chatbot</h5>
  </div>
  <div class="chat-history">
    <div id="initial-message" class="message bot-message">Hi there! How can I help you today?</div>
    {% for message in messages %}
      <div class="message user-message">{{ message }}</div>
    {% endfor %}
    
  </div>
  <div class="chat-footer">
    <button id="clear-chat" class="btn btn-sm btn-danger">Clear Chat</button>
    <form id="chat-form" method="POST" action="{{ url_for('chatbot') }}">
      <input type="text" class="chat-input form-control" placeholder="Type your message..." name="message">
      <button type="submit" class="chat-submit btn btn-primary">Send</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  #chatbot-icon {
    display: none;
  }
  </style>
  

{% endblock %}
