{% extends 'includes/layout.html' %}



{% block body %}
<main class="container">
  <div class="bg-dark p-5 rounded mt-5">
    <h1>Neural Edge AI SEO Portal 🤖</h1>
    <p class="lead">Choose a selection of AI tools to help you with common SEO tasks such as content writing, keyword research and for creating ideas!
    </p>
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">
      
      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #Products
          </div>
          <div class="card-body">
            <h5 class="card-title">🛍️ Product Descriptions</h5>
            <p class="card-text">Create an engaging product description.</p>
            <a href="/product-description" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


            <!-- One Item Starts Here -->
            <div class="col-lg-3 mb-3">
              <div class="card bg-dark text-white">
                <div class="card-header">
                  #Metas
                </div>
                <div class="card-body">
                  <h5 class="card-title"> ➡️ Meta Title Generator</h5>
                  <p class="card-text"> Meta titles allow your content to stand out in the SERPS. </p>
                  <a href="/meta-title" class="btn btn-danger">Get Started</a>
                </div>
              </div>
            </div>
            <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #Metas
          </div>
          <div class="card-body">
            <h5 class="card-title"> 📝 Meta Description</h5>
            <p class="card-text">Ask our Ai to create an engaging meta descriptions for your content.</p>
            <a href="/meta-description" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #SocialMedia
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🐦 Social Media Hashtags </h5>
            <p class="card-text">Start generating ideas with hashtags for your campaigns! </p>
            <a href="/hash-tags" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

            <!-- One Item Starts Here -->
            <div class="col-lg-3 mb-3">
              <div class="card bg-dark text-white">
                <div class="card-header">
                  #Content
                </div>
                <div class="card-body">
                  <h5 class="card-title"> 📰 Blog Post Title Ideas</h5>
                  <p class="card-text">Generate inspiring blog post titles for your content. </p>
                  <a href="/blog-titles" class="btn btn-danger">Get Started</a>
                </div>
              </div>
            </div>
            <!-- One Item Ends here -->

                        <!-- One Item Starts Here -->
                        <div class="col-lg-3 mb-3">
                          <div class="card bg-dark text-white">
                            <div class="card-header">
                              #Content
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"> ✏️ Improve Your Content</h5>
                              <p class="card-text">Improve or re-write some text - just copy and paste to get started! </p>
                              <a href="/rewriter" class="btn btn-danger">Get Started</a>
                            </div>
                          </div>
                        </div>
                        <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #Keywords
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🔐 Semantic Keyword Finder</h5>
            <p class="card-text">Use this tool to find closely related keywords to your already chosen keyword. </p>
            <a href="/semantic-keywords" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #Content
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🖋️ Blog Post Header Generator</h5>
            <p class="card-text">Use this tool to create blog post headers. </p>
            <a href="/headers" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            #Content
          </div>
          <div class="card-body">
            <h5 class="card-title"> 💡 Highlight Text & Add URLS</h5>
            <p class="card-text">Use this tool to select Keywords and add URLS. </p>
            <a href="/highlighter" class="btn btn-danger">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      


    </div>
  </div>
</main>

{% endblock %}